OUTPUTDIR path_to_dir_where_scaffold_file_will_be_copied 
SCAFFOLDBATCHPATH C:\\Program Files\\Scaffold4\\ScaffoldBatch4.exe
SMTPSERVERNAME smtp.gmail.com
NOTFICATIONEMAILSENDERADR sender@gmail.com
MASCOTSERVERURL http://mascot.somewhere.ch/mascot/cgi/login.pl
MASCOTWEBUSERNAME sender
MASCOTWEBPASSWORD letmein
NOTFICATIONEMAILADRTEST reciever@gmail.com